body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

header {
    text-align: center;
    background-color: #4a90e2;
    color: white;
    padding: 1.5rem;
}

h1, h2, h3 {
    color: #333;
}

.weekly-plan, .monthly-progress-calendar {
    padding: 20px;
}

.training-day {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.training-day ul {
    list-style-type: none;
    padding: 0;
}

.training-day ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.training-day ul li img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.monthly-progress-calendar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Zeigt 7 Tage pro Woche an */
    gap: 5px;
    margin-bottom: 20px;
}

.days-grid input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #4a90e2;
}

#reset-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #ff3333;
}
